@model OdeToFood.ViewModels.HomeIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<h1>Restaurants</h1>
<p>@Model.CurrentMessage</p>
<body>
	<table>
		<th>
			<td>Id</td>
			<td>Name</td>
		</th>
		@foreach(var restaurant in Model.Restaurants)
		{
			<tr>
				<td>@restaurant.Id</td>
				<td>@restaurant.Name</td>
				<td>
					<a asp-action="Details" asp-route-id="@restaurant.Id">Details</a>
				</td>

			</tr>
		}
	</table>
	<a asp-action="Create">Add Restaurant</a>
</body>
</html>
